.wrapper {
    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: center; */
    margin-bottom: 18px;
}

.img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
}

.name {
    font-size: 24px;
    color: rgb(12, 164, 175);
}

.status {
    color: rgb(12, 164, 175);
    font-size: 20px;
}